<form>

    <!--Adding the numeric field-->
    <div class="field is-horizontal">
    <div class="field-body">
        <div class="field"></div>
        <p class="control">
            <input type="number" style="width: 100px; right: 100px;" class="input" placeholder="Amount">
        </p>
    </div>

    <!--Adding the description text box-->
    <div class="field-body">
        <div class="field"></div>
        <p class="control">
            <input type="text" style="right: 115px; width: 270px;" class="input" placeholder="Description">
        </p>
    </div>

    <!--Adding the add button-->
    <div class="field is-narrow">
        <button style="right: 95px;" class="button is-primary" disabled="true">Add</button>
        </div>
    </div>


</form>